.custom-info-saldo{text-align:center!important;font-weight: 600!important;font-size: 20px!important;margin-top: 32px!important;}


.custom-coluna-saldo{background:url(http://cdbclubeimobiliario.com.br/public/images/saldo.png) no-repeat!important;height: 216px!important;background-position:  center!important;}

.custom-osaldo{
text-align: center!important;
    font-size: 13px!important;
}