/FileZillaFTP/
/MercuryMail/
/anonymous/
/apache/
/cgi-bin/
/contrib/
/img/
/install/
/licenses/
/locale/
/mailoutput/
/mailtodisk/
/mysql/
/perl/
/php/
/phpMyAdmin/
/sendmail/
/src/
/tmp/
/tomcat/
/vendor/
/webalizer/
/webdav/
/RELEASENOTES/
/apache_start/
/apache_stop/
/catalina_service/
/catalina_start/
/catalina_stop/
/ctlscript/
/filezilla_setup/
/filezilla_start/
/filezilla_stop/
/mercury_start/
/mercury_stop/
/mysql_start/
/mysql_stop/
/passwords.txt
/properties
/readme_de.txt
/readme_en.txt
/service
/setup_xampp
/test_php
/uninstall.dat
/uninstall
/xampp-control
/xampp-control
/xampp-control.log
/xampp_shell
/xampp_start
/xampp_stop
