 <section id="bonus" class="container">        
        <div id="tab-container">
            <div id="accordion-container">
                <h2 class="page-header">Bônus</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion " href="#collapseOne">
                                    #1 - Crédito
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img src="images/bonus/credito.jpg"" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6">
                                    <p>Crédito em dinheiro acrescido direto em sua conta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">
                                    #2 - Identidade visual
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-6"><img src="images/bonus/identidade.jpg"" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6"> Identidade visual pensada e planejada para melhor divulgar seus produtos tem o poder de alavancar, 
                                   <p> agilizar procedimentos, colocar sua placa mais rápido no local angariado, além de evitar erros de ortografia, 
                                    esquecimento de algum dado importante, 
                                    claro que isso junto com seu pessoal de marketing com o seu conceito, 
                                    mas com nosso conhecimento sobre os produtos.

                                    Isso não só devido a parcerias formada, mas sim da ajuda entre si. 
                                    onde ajudam e são ajudados uns pelos outros, possibilitando assim melhores resultados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true">
                                    #3 - Estabilidade e garantia nos valores dos produtos enquanto durar seus créditos sem mudanças ou surpresas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-6"><img src="images/bonus/estabilidade.jpg"" class="img-responsive" alt="">
                                </div> 
                                <div class="col-md-6">Isso cria uma estabilidade, e possibilidade de projetar seus investimentos em publicidade para até um ano ou mais,
                                   <p> colocando um diferencial no investimento em mídia em suas angariação.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    #4 - Garantia sobre prazo de entrega
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-6"> <img src="images/bonus/garantia.jpg"" class="img-responsive" alt="" aria-expanded="true">
                                </div> 
                                <div class="col-md-6">Ao fazer a inscrição no crédito fantástico, você terá todas as retiradas de placas sem custo,
                                   <p> pela Casa dos Banners, além desta ausência de custo,
                                    tem um apelo ecológico pois podemos reciclar estas placas, 
                                    todos sabemos que são produtos ruins de dar destino correto.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true">
                                    #5 - Ambiente Exclusivo do Cliente em nosso site
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img src="images/bonus/ambiente.jpg"" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6">A criação de um ambiente único, exclusivo  dentro de nosso site com todas as suas artes produtos, 
                                   <p> Fotos de suas placas instaladas onde controlamos as retiradas, possibilidade de acompanhar seus créditos, 
                                    verificar a identidade visual criada por nós em conjunto, 
                                    poder fazer pedidos e alterações,verificar sua lista de valores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>