<section id="loteria">
        <div class="container">
            <div id="tab-container">


                <div id="accordion-container">

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseO">

                                        <h2>
                                            <center>
                                                <img src="images/credito-fantastico.png" class="img-responsive" alt=""><br>Imagine que você comprou um bilhete de loteria.</center><center class="custom-color-clique-aqui"> <br>(Clique aqui) </center></h2>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseO" class="panel-collapse collapse">
                                <div class="panel-body">


                                    <p align="justify">Só que, ao contrário de um bilhete comum, esse bilhete te oferece a possibilidade de reembolso caso ele não seja o bilhete premiado.</p>
                                    <p align="justify">Você compraria esse bilhete?</p>
                                    <p align="justify">Você investiria seu dinheiro nele tendo a certeza que, se ele não fosse o bilhete premiado, você pudesse ir na lotérica pedir o ressarcimento desse bilhete de volta?</p>
                                    <p align="justify">Eu compraria!
                                    </p>
                                    <p align="justify">E se você também compraria, continue lendo esse e-mail, porque eu vou te fazer uma proposta parecida - mas deixa eu explicar o que eu quero dizer com isso.</p>
                                    <p align="justify">Para nós, o Crédito Fantástico é como se fosse um bilhete premiado.</p>
                                    <p align="justify">Mas, veja, isso não quer dizer que é uma fórmula mágica.</p>
                                    <p align="justify">É um resultado que vem da dedicação, do esforço e da energia que colocamos neste empreendimento, para colocar o crédito fantástico em ação.</p>
                                    <p align="justify">Dá só uma olhada:</p>
                                    <p align="justify">Pode-se dizer que, o Crédito Fantástico é uma espécie de bilhete de loteria premiado.</p>
                                    <p align="justify">Agora, por que eu estou te falando isso?</p>
                                    <p align="justify">Porque eu não tenho como julgar que, para você, se o crédito fantástico é um bilhete de loteria premiado.</p>
                                    <p align="justify">Só você pode avaliar isso.</p>
                                    <p align="justify">Mas o fato é o seguinte: eu te dou 45 dias para descobrir.<br>
                                    </p>
                                    <p align="justify"><strong>E, se nos primeiros 45 dias depois da confirmação da sua inscrição no crédito fantástico você descobrir que na sua própria opinião não é o equivalente a um bilhete premiado, basta você me mandar um e-mail, dentro desses 45 dias, pedindo o cancelamento, que eu envio o seu dinheiro de volta, descontando o que foi usado até o cancelamento<br>
                                            <br>Também vamos colocar aqui uma garantia de comprometimento de prazos estipulados, o não cumprimento de prazos pela Casa dos Banners dará o direito do cliente não pagar o produto em questão, isso mesmo se a Casa dos Banners atrasar uma entrega você não vai pagar por este produto, vai receber de graça.<br>
                                            <br>
                                            Ps. Prazos sempre estipulados na hora do pedido e enviado via e-mail para o cliente acompanhar<br>
                                        </strong></p>
                                    <p align="justify">Acho que na vida vai ser difícil você encontrar um acordo desses.</p>
                                    <p align="justify">Porque nesse caso, o risco é todo meu.</p>
                                    <p align="justify">E por que eu estou assumindo esse risco?</p>
                                    <p align="justify">Porque acreditamos neste projeto.</p>
                                    <p align="justify">Porque os anos de experiência neste mercado nos capacitaram para isso .</p>
                                    <p align="justify">Porque eu já apertei a mão de vários empreendedores que acreditam no resultado.</p>
                                    <p align="justify">E porque eu quero apertar a sua mão também.<br>
                                    </p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
    </section>