<section id="importante" class="container"> 

        <div class="container">
            <div class="row">
                <h2>Atenção</h2>
                <HR>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/atencao/o-mais-importante.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>O mais importante para nós</h2>
                        <P>Casa dos Banners e o VALOR proporcionado,para nosso cliente, valoriza&ccedil;&atilde;o de suas marcas / apresenta&ccedil;&atilde;o dos produtos perante seu cliente / comprometimento com seu neg&oacute;cio.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Ficar em cima do muro</h2>
                        <P>&Eacute;, na minha percep&ccedil;&atilde;o, uma das situa&ccedil;&otilde;es mais agonizantes e ao mesmo tempo mais comuns para empreendedores. E existe um momento espec&iacute;fico onde isso ocorre com maior frequ&ecirc;ncia, que &eacute; justamente um momento de defini&ccedil;&atilde;o dos mais importantes.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/atencao/ficar-em-cima-do-muro.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section> 