{% extends "common/head.twig" %}

{% block conteiner %}

    <center><br><br><img src="{{ img }}logoClube.png" class="responsive"></center>
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Painel Administrador</div>
            <div class="card-body">
                <form action="login&a=autenticar" onsubmit="return validateForm()" method="post">
                    <div class="form-group">
                        <input class="form-control" id="user" type="text" name="usuario" aria-describedby="usuario" placeholder="Digite o usu&aacute;rio" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password" name="senha" type="password" placeholder="Digite a Senha" required />
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Fazer Login" style="
                           background-color: #ff0000;
                           border-color: #ff0000;
                           ">
                    <hr>
                    <div class="text-center">
                        <a class="btn btn-primary btn-block" href="index.php?route=login&a=recuperar" style="
                           background-color: #ff0000;
                           border-color: #ff0000;
                           ">Recuperar Dados ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

