<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Clube Imobiliario">
        <title>{{ titulo }}</title>      

        <link href="../stylesheet/bootstrap.css" type="text/css" rel="stylesheet" />



        <link type="text/css" href="../stylesheet/stylesheet.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="../javascript/jquery/jquery-2.1.1.min.js"></script>


    </head>
    <body class="bg">

        <div class="container">
            <div class="row margin-logion">
                <center><img src="{{ route }}images/logoClube.png" class="responsive"></center>
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Painel Administrador</h3>
                        </div>
                        <div class="panel-body">
                            <p id="Retorno" class="login-mensagem hidden">...</p>
                            <form class="form">
                                <fieldset>
                                    <div class="form-group ">
                                        <input class="form-control" id="user" type="text" name="usuario" aria-describedby="usuario" placeholder="Digite o usu&aacute;rio" />
                                    </div>
                                    <div class="form-group user">
                                        <input class="form-control" id="password" name="senha" type="password" placeholder="Digite a Senha" />
                                    </div>

                                    <button class="btn btn-red btn-block" type="submit">Fazer Login</button>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">

            $(function () {
                $("form").submit(function (event)
                {
                    event.preventDefault();
                    var nomeEnviar = $("input#user").val();
                    var senhaEnviar = $("input#password").val();

                    if ($("input").val() !== "" && $("input").val() !== null) {


                        $.post("adm/login/autenticar", {user: nomeEnviar, password: senhaEnviar}, function (retorno) {



                            if (retorno) {


                                window.location = "painel";


                                return 1;
                            } else {



                                $("#Retorno").html("Login ou Senha incorretos ");
                                $("#Retorno").removeClass('hidden');

                                $(".usu").addClass('has-error');
                                $(".usu").focus(); //Da focu na input se ela não for digitada

                            }



                        });

                        return 1;
                    } else {

                        $("#Retorno").html("Preencha login e senha ");
                        $("#Retorno").removeClass('hidden');
                        $("div#usu").addClass('bg-info');
                        $("#usu").focus(); //Da focu na input se ela não for digitada

                    }



                });
            });



        </script>

        <footer class="slider-custom">

        </footer>
    </body>
</html>

