
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            {% if page != 'index'%}

                {% set pages = page|split('_') %}
                {% if pages[0] != 'list' %}
                    <button type="submit" class="btn btn-red"><i class="fa fa-save"></i></button>
                    <a href="{{route}}adm/clientes" class="btn btn-default"><i class="fa fa-reply"></i></a>

                {% endif %}
                {% if pages[0] != 'edit' and pages[0] != 'new' %}

                    <a href="{{route~classe~'new'~pages[1]}}" class=" btn btn-red"><i class="fa fa-plus"></i></a>

                {% endif %}
            {% endif %}

        </div>
        <h1>{{titulo}}</h1>
        <ul class="breadcrumb">
            <li><a href="index">Principal</a></li>
            <li><a href="#">{{titulo}}</a></li>
        </ul>
    </div>
</div>

