<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Clube Imobiliario">
        <title>Cdb Teste</title>
        
    </head>
    <!--/head-->
    <body>
        
    {% block conteiner %}{% endblock %}

<footer class="slider-custom">
   
</footer>
<!--/#footer-->



</body>
</html>