{% extends "common/head.twig"%}

{% block conteiner %}


    <div class="container-fluid">     <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{titulo}}</h3>
            </div>
            <div class="panel-body">

                <form action="teste.php" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">

                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#campanha" aria-controls="campanha" role="tab" data-toggle="tab">Campanha</a></li>
                            <li role="presentation"><a href="#emails" aria-controls="emails" role="tab" data-toggle="tab">Emails</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="campanha">

                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Campanha</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="nome da Campanha">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inicio" class="col-sm-2 control-label">Início</label>
                                    <div class="col-sm-2">
                                        <input type="date" class="form-control" id="inicio" name="inicio">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fim" class="col-sm-2 control-label">Fim</label>
                                    <div class="col-sm-2">
                                        <input type="date" class="form-control" id="fim" name="fim">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-2">
                                        <select class="form-control">
                                            <option>Ativo</option>
                                            <option>Desativo</option>

                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="emails">

                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                   Incluir
                                </button>
                                
                                <br>
                                <br>
                                <br>

                                <table class="table table-striped table-bordered"> 
                                    <thead> 
                                        <tr> 
                                            <th>ordem</th> 
                                            <th>Titulo</th> 
                                            <th>Status</th> 
                                            <th>Action</th> 
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            <th scope="row">1</th> 
                                            <td>Mark</td> <td>Otto</td> 
                                            <td>@mdo</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">2</th> 
                                            <td>Jacob</td> 
                                            <td>Thornton</td> 
                                            <td>@fat</td> 
                                        </tr> 
                                        <tr> 
                                            <th scope="row">3</th> 
                                            <td>Larry</td> 
                                            <td>the Bird</td> 
                                            <td>@twitter</td> 
                                        </tr> 
                                    </tbody> 
                                </table>


                            </div>

                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Email</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="email">Titulo do Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Titulo do Email">
                    </div>

                    <div class="form-inline">
                        <div class="form-group">
                            <label for="order">Order</label>
                            <input type="number" class="form-control" id="order" >
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control">
                                <option>Ativo</option>
                                <option>Desativo</option>

                            </select>
                        </div>

                    </div>

                    <label class="col-sm-4 control-label" for="email">Corpo do email</label><br>

                    <textarea name="email" placeholder="Descrição" id="email" data-toggle="summernote" data-lang="pt-BR" class="form-control col-sm-12"></textarea>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{%block javascripts %}

{% endblock %}
