{% extends "common/head-painel.twig" %}{% block conteiner %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Editando cliente</h3>
            </div>
            <div class="panel-body">
                <form
                    action="#"
                    method="post" enctype="multipart/form-data"
                    id="form-customer" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="address">
                                        <li class="active"><a href="#tab-customer"
                                                              data-toggle="tab" aria-expanded="true">Informa&ccedil;&otilde;es</a></li>
                                        <li><a href="#tab-address1" data-toggle="tab"
                                               aria-expanded="true"> Endere&ccedil;o</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <div class="form-group"><label
                                                    class="col-sm-2 control-label" for="input-customer-group">Tipo
                                                    de cliente</label>
                                                <div class="col-sm-10">
                                                    <select name="customer_group_id" id="input-customer-group"
                                                            class="form-control">
                                                        <option value="1" selected="selected">Default</option>
                                                        <option value="2">Agencias</option>
                                                        <option value="3">Construtoras</option>
                                                        <option value="4">Fisico</option>
                                                        <option value="5">Imobili&aacute;ria</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Contato</label>
                                                <div class="col-sm-10"><input name="contato"
                                                                              value="" placeholder="Contato"
                                                                              id="contato" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-firstname">Nome</label>
                                                <div class="col-sm-10"><input name="nome"
                                                                              value="" placeholder="Nome" id="nome"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-lastname">Nome Fantasia</label>
                                                <div class="col-sm-10"><input name="nome_fantasia"
                                                                              value="" placeholder="Sobrenome" id="nome_fantasia"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-email">E-mail</label>
                                                <div class="col-sm-10"><input name="email"
                                                                              value="" placeholder="E-mail"
                                                                              id="email" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Telefone</label>
                                                <div class="col-sm-10"><input name="telefone"
                                                                              value="" placeholder="Telefone"
                                                                              id="telefone" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">CPNJ/CPF</label>
                                                <div class="col-sm-10"><input name="cnpj"
                                                                              value="" placeholder="CNPJ"
                                                                              id="cnpj" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Status</label>
                                                <div class="col-sm-10">
                                                    <select id="status" class="form-control">
                                                        <option selected>Desabilitado</option>
                                                        <option>Abilitado</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-address1">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-address-11">Rua</label>
                                                <div class="col-sm-10"><input
                                                        name="Rua" value=""
                                                        placeholder="Rua" id="Rua"
                                                        class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-address-21">Bairro</label>
                                                <div class="col-sm-10"><input
                                                        name="bairro" value=""
                                                        placeholder="Bairro" id="bairro"
                                                        class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-city1">Cidade</label>
                                                <div class="col-sm-10"><input name="cidade"
                                                                              value="" placeholder="Cidade" id="cidade"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-city1">Estado</label>
                                                <div class="col-sm-10"><input name="estado"
                                                                              value="" placeholder="Estado" id="estado"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-postcode1">CEP</label>
                                                <div class="col-sm-10"><input
                                                        name="cep" placeholder="CEP" value="" id="cep" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-history">
                            <div id="history">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="text-left">Cadastro</td>
                                                <td class="text-left">Coment&aacute;rio</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="2">Sem
                                                    resultados!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left"></div>
                                    <div class="col-sm-6 text-right">Exibindo de 0 a 0 do
                                        total de 0 (0 p&aacute;ginas)</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-comment">Coment&aacute;rio</label>
                                <div class="col-sm-10"><textarea name="comment"
                                                                 rows="8" placeholder="Coment&aacute;rio" id="input-comment"
                                                                 class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-transaction">
                            <div id="transaction">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td class="text-left">Cadastro</td>
                                                <td class="text-left">Detalhes</td>
                                                <td class="text-right">Valor</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="3">Sem
                                                    resultados!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left"></div>
                                    <div class="col-sm-6 text-right">Exibindo de 0 a 0 do
                                        total de 0 (0 p&aacute;ginas)</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-transaction-description">Detalhes</label>
                                <div class="col-sm-10"><input name="description"
                                                              value="" placeholder="Detalhes"
                                                              id="input-transaction-description" class="form-control"
                                                              type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-amount">Valor</label>
                                <div class="col-sm-10"><input name="amount"
                                                              value="" placeholder="Valor" id="input-amount"
                                                              class="form-control" type="text">
                                </div>
                            </div>
                            <div class="text-right">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-reward">
                            <div id="reward">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td class="text-left">Cadastro</td>
                                                <td class="text-left">Detalhes</td>
                                                <td class="text-right">Pontos</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="3">Sem
                                                    resultados!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left"></div>
                                    <div class="col-sm-6 text-right">Exibindo de 0 a 0 do
                                        total de 0 (0 p&aacute;ginas)</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-reward-description">Detalhes</label>
                                <div class="col-sm-10"><input name="description"
                                                              value="" placeholder="Detalhes"
                                                              id="input-reward-description" class="form-control"
                                                              type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-points"><span
                                        data-toggle="tooltip" title=""
                                        data-original-title="Utilize o sinal de menos para remover pontos.">Pontos</span></label>
                                <div class="col-sm-10"><input name="points"
                                                              value="" placeholder="Pontos" id="input-points"
                                                              class="form-control" type="text">
                                </div>
                            </div>
                            <div class="text-right">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-ip">
                            <div id="ip">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td class="text-left">IP</td>
                                                <td class="text-right">Total de contas</td>
                                                <td class="text-left">Cadastro</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="3">Sem
                                                    resultados!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left"></div>
                                    <div class="col-sm-6 text-right">Exibindo de 0 a 0 do
                                        total de 0 (0 p&aacute;ginas)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">





        var loc = $(location).attr('href');
        var locs = loc.split('=');


        $.getJSON('http://192.168.0.26/adm/clientes/getAll', function (retorno) {

            retorno.forEach(function (obj, idx) {

                if (obj.cliente_id === locs[1]){
                    console.log(obj.nome);
                    
                    $('input[value]#contato').val(obj.contato);
                    
                    
                    
                    
                    
                    
                    }



            });


        });





    </script>
{% endblock %}