{% extends "common/head-painel.twig" %}{% block conteiner %}
<div class="container-fluid">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> Editando campanha</h3>
</div>
<div class="panel-body">
<form action="#" method="post"
 enctype="multipart/form-data" id="form-marketing"
 class="form-horizontal">
  <div class="form-group required"><label
 class="col-sm-2 control-label" for="input-name">Campanha</label>
  <div class="col-sm-10"><input name="name"
 value="teste" placeholder="Campanha" id="input-name"
 class="form-control" type="text">
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-2 control-label"
 for="input-description">Informa&ccedil;&otilde;es</label>
  <div class="col-sm-10"><textarea name="description"
 rows="5" placeholder="Informa&ccedil;&otilde;es" id="input-description"
 class="form-control"></textarea>
  </div>
  </div>
  <div class="form-group required">
  <label class="col-sm-2 control-label" for="input-code"><span
 data-toggle="tooltip" title=""
 data-original-title="O c&oacute;digo de rastreamento que ser&aacute; utilizado nas campanhas de marketing.">C&oacute;digo
de rastreio</span></label>
  <div class="col-sm-10"><input name="code"
 value="5a69ff2795680" placeholder="C&oacute;digo de rastreio"
 id="input-code" class="form-control" type="text">
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-2 control-label" for="input-example"><span
 data-toggle="tooltip" title=""
 data-original-title="Atrav&eacute;s das URLs geradas automaticamente, a loja pode rastrear a origem dos clientes baseada nas campanhas de marketing.">URLs</span></label>
  <div class="col-sm-10"><input placeholder="URLs"
 id="input-example1" class="form-control" type="text">
  <br>
  <input placeholder="URLs" id="input-example2"
 class="form-control" type="text">
  </div>
  </div>
</form>
</div>
</div>
</div>
{% endblock %}
