{% extends "common/head-painel.twig" %}
{% block conteiner %}

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Editando cliente</h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" id=" form-customer" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="address">
                                        <li class="active">
                                            <a href="#tab-customer" data-toggle="tab" aria-expanded="true">Informações</a></li>
                                        <li><a href="#tab-address1" data-toggle="tab"
                                               aria-expanded="true"> Endereço</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <div class="form-group"><label
                                                    class="col-sm-2 control-label" for="input-customer-group">Tipo
                                                    de cliente</label>
                                                <div class="col-sm-10">
                                                    <select name="customer_group_id" id="input-customer-group"
                                                            class="form-control">
                                                        <option value="0" selected="selected">Default</option>
                                                        <option value="0">Agencias</option>
                                                        <option value="0">Construtoras</option>
                                                        <option value="0">Fisico</option>
                                                        <option value="0">Imobili&aacute;ria</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Codigo Cdb</label>
                                                <div class="col-sm-10"><input name="cdb_id"
                                                                              value="0" placeholder="Contato"
                                                                              id="cdb_id" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Contato</label>
                                                <div class="col-sm-10"><input name="contato"
                                                                              value="0" placeholder="Contato"
                                                                              id="contato" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-firstname">Nome</label>
                                                <div class="col-sm-10">
                                                    <input name="nome" value="0" placeholder="Nome" id="nome" class="form-control" type="text">

                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-lastname">Nome Fantasia</label>
                                                <div class="col-sm-10"><input name="nome_fantasia"
                                                                              value="0" placeholder="Nome Fantasia" id="nome_fantasia"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-email">E-mail</label>
                                                <div class="col-sm-10"><input name="email"
                                                                              value="0" placeholder="E-mail"
                                                                              id="email" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Telefone</label>
                                                <div class="col-sm-10"><input name="telefone"
                                                                              value="0" placeholder="Telefone"
                                                                              id="telefone" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Celular</label>
                                                <div class="col-sm-10"><input name="celular"
                                                                              value="0" placeholder="Telefone"
                                                                              id="celular" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">CPNJ / CPF</label>
                                                <div class="col-sm-10"><input name="cnpj"
                                                                              value="0" placeholder="CNPJ ou CPF"
                                                                              id="cnpj" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Status</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" id="st">
                                                        <option value="0">Desabilitado</option>
                                                        <option value="1">Habilitado</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-address1">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-address-11">Rua</label>
                                                <div class="col-sm-10"><input
                                                        name="rua" value="0"
                                                        placeholder="Rua" id="rua"
                                                        class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-address-11">Numero</label>
                                                <div class="col-sm-10"><input
                                                        name="numero" value="0"
                                                        placeholder="numero" id="numero"
                                                        class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-address-21">Bairro</label>
                                                <div class="col-sm-10"><input
                                                        name="bairro" value="0"
                                                        placeholder="Bairro" id="bairro"
                                                        class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-city1">Cidade</label>
                                                <div class="col-sm-10"><input name="cidade"
                                                                              value="0" placeholder="Cidade" id="cidade"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-city1">Estado</label>
                                                <div class="col-sm-10"><input name="estado"
                                                                              value="0" placeholder="Estado" id="estado"
                                                                              class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-postcode1">CEP</label>
                                                <div class="col-sm-10"><input
                                                        name="cep" placeholder="CEP" value="0" id="cep" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
