{% extends "common/head-painel.twig" %}{% block conteiner %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Editando departamento</h3>
                </div>
                <div class="panel-body">
                    <form
                        action="#"
                        method="post" enctype="multipart/form-data"
                        id="form-category" class="form-horizontal">
                        <ul class="nav nav-tabs">
                            <li class=""><a href="#tab-general"
                                            data-toggle="tab" aria-expanded="false">Geral</a></li>
                            <li class="active"><a href="#tab-data"
                                                  data-toggle="tab" aria-expanded="true">Dados</a></li>
                            <li class=""><a href="#tab-design"
                                            data-toggle="tab" aria-expanded="false">Design</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab-general">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="language2">
                                        <div class="form-group required"><label
                                                class="col-sm-2 control-label" for="input-name2">Departamento</label>
                                            <div class="col-sm-10"><input
                                                    name="category_description[2][name]" value="Adesivos"
                                                    placeholder="Departamento" id="input-name2"
                                                    class="form-control" type="text"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"
                                                   for="input-description2">Descri&ccedil;&atilde;o</label>
                                            <div class="col-sm-10">#
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label"
                                                   for="input-meta-title2">Meta t&iacute;tulo</label>
                                            <div class="col-sm-10"><input
                                                    name="category_description[2][meta_title]" value="Adesivos"
                                                    placeholder="Meta t&iacute;tulo" id="input-meta-title2"
                                                    class="form-control" type="text"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"
                                                   for="input-meta-description2">Meta
                                                descri&ccedil;&atilde;o</label>
                                            <div class="col-sm-10"><textarea
                                                    name="category_description[2][meta_description]" rows="5"
                                                    placeholder="Meta descri&ccedil;&atilde;o" id="input-meta-description2"
                                                    class="form-control">Adesivos para todos os seguimentos,
                                                    adesivos para envelopar ve&iacute;culos,
                                                    decora&ccedil;&atilde;o e muito mais... confira</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"
                                                   for="input-meta-keyword2">Meta palavras-chave</label>
                                            <div class="col-sm-10"><textarea
                                                    name="category_description[2][meta_keyword]" rows="5"
                                                    placeholder="Meta palavras-chave" id="input-meta-keyword2"
                                                    class="form-control">Adesivos, envelopamento, adesivo para
                                                    carro, adesivos decora&ccedil;&atilde;o, adesivo transparente,
                                                    adesivo perfurado, adesivos</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab-data">
                                <div class="form-group"><label
                                        class="col-sm-2 control-label" for="input-parent">Departamento
                                        principal</label>
                                    <div class="col-sm-10"><input name="path"
                                                                  value="" placeholder="Departamento principal"
                                                                  id="input-parent" class="form-control" autocomplete="off"
                                                                  type="text"><input name="parent_id" value="0"
                                                                  type="hidden"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-keyword"><span
                                            data-toggle="tooltip" title=""
                                            data-original-title="N&atilde;o utilize espa&ccedil;os, substituir os espa&ccedil;os por - e certifique-se que a palavra &eacute; globalmente exclusiva.">URL
                                            amig&aacute;vel</span></label>
                                    <div class="col-sm-10"><input name="keyword"
                                                                  value="" placeholder="URL amig&aacute;vel" id="input-keyword"
                                                                  class="form-control" type="text"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-top"><span
                                            data-toggle="tooltip" title=""
                                            data-original-title="A exibi&ccedil;&atilde;o no topo ser&aacute; no menu superior da loja, e s&oacute; funcionar&aacute; para um departamento principal.">Exibir
                                            no topo?</span></label>
                                    <div class="col-sm-10">
                                        <div class="checkbox"><label><input name="top"
                                                                            value="1" checked="checked" id="input-top"
                                                                            type="checkbox">&nbsp; </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-column"><span
                                            data-toggle="tooltip" title=""
                                            data-original-title="O n&uacute;mero de colunas para organizar os departamentos inferiores em at&eacute; 3 n&iacute;veis. S&oacute; funciona para um departamento principal.">Colunas</span></label>
                                    <div class="col-sm-10"><input name="column"
                                                                  value="1" placeholder="Colunas" id="input-column"
                                                                  class="form-control" type="text"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-sort-order">Posi&ccedil;&atilde;o</label>
                                    <div class="col-sm-10"><input name="sort_order"
                                                                  value="0" placeholder="Posi&ccedil;&atilde;o" id="input-sort-order"
                                                                  class="form-control" type="text"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-status">Situa&ccedil;&atilde;o</label>
                                    <div class="col-sm-10">
                                        <select name="status" id="input-status"
                                                class="form-control">
                                            <option value="1" selected="selected">Habilitado</option>
                                            <option value="0">Desabilitado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-design">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td class="text-left">Loja</td>
                                                <td class="text-left">Layout substituto</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Padr&atilde;o</td>
                                                <td class="text-left">
                                                    <select name="category_layout[0]" class="form-control">
                                                        <option value=""></option>
                                                        <option value="6">Account</option>
                                                        <option value="10">Affiliate</option>
                                                        <option value="3">Category</option>
                                                        <option value="7">Checkout</option>
                                                        <option value="12">Compare</option>
                                                        <option value="8">Contact</option>
                                                        <option value="4">Default</option>
                                                        <option value="1">Home</option>
                                                        <option value="11">Information</option>
                                                        <option value="5">Manufacturer</option>
                                                        <option value="2">Product</option>
                                                        <option value="13">Search</option>
                                                        <option value="9">Sitemap</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
