{% extends "common/head-painel.twig" %}{% block conteiner %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Listando campanhas</h3>
                </div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label"
                                                               for="input-name">Campanha</label>
                                    <input name="filter_name" value=""
                                           placeholder="Campanha" id="input-name"
                                           class="form-control" type="text"></div>
                                <div class="form-group">
                                    <label class="control-label" for="input-code">C&oacute;digo
                                        de rastreio</label>
                                    <input name="filter_code" value=""
                                           placeholder="C&oacute;digo de rastreio" id="input-code"
                                           class="form-control" type="text"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label"
                                                               for="input-date-added">Cadastro</label>
                                    <div class="input-group date"><input
                                            name="filter_date_added" value="" placeholder="Cadastro"
                                            data-date-format="YYYY-MM-DD" class="form-control"
                                            type="text"><span class="input-group-btn">
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="#" method="post"
                          enctype="multipart/form-data" id="form-marketing">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input
                                                onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"
                                                type="checkbox"></td>
                                        <td class="text-left"><a class="asc">Campanha</a></td>
                                        <td class="text-left"><a class="asc">C&oacute;digo
                                                de rastreio</a></td>
                                        <td class="text-right">Cliques</td>
                                        <td class="text-right">Pedidos</td>
                                        <td class="text-left"><a class="asc">Cadastro</a></td>
                                        <td class="text-right">A&ccedil;&atilde;o</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center"> <input
                                                name="selected[]" value="1" type="checkbox">
                                        </td>
                                        <td class="text-left">teste</td>
                                        <td class="text-left">5a69ff2795680</td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">0</td>
                                        <td class="text-left">25/01/2018</td>
                                        <td class="text-right"><center><a href="#" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Editar"><i class="fa fa-pencil"></i></a></center></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">Exibindo de 1 a 1 do
                            total de (1 p&aacute;ginas)</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
